header.header
    .l-default
        .header__wrapper 
            .header__burger     
                span 
                span 
                span 
            .header__menu
                a.header__menu-item(href="#info") О батарейке
                a.header__menu-item(href="#how") Как это работает
                a.header__menu-item(href="#start") Начните использовать
            .header__logo
                +svgColor('logo')  
    .header__mobile