header.header
    .l-default
        .header__wrapper 
            .header__menu
                a.header__menu-item О батарейке
                a.header__menu-item Как это работает
                a.header__menu-item Начните использовать
            .header__logo
                +svgColor('logo')