.ico-mono-arrow-slider {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-call {
  width: 1em;
  height: 1em;
  fill: #1F2A56;
}
.ico-mono-direction-down {
  width: 1em;
  height: 1em;
  fill: #fff;
}
