.ico-color-direction-down-blue {
  width: 1em;
  height: 1em;
}
.ico-color-logo-blue {
  width: 7.45em;
  height: 1em;
}
.ico-color-logo {
  width: 7.39em;
  height: 1em;
}
.ico-color-navigation {
  width: 1em;
  height: 1em;
}
.ico-color-search-plus {
  width: 1em;
  height: 1em;
}
