section.bottom
    .bottom__text Присоединяйтесь к нашей группе обсуждения открытого бета-тестирования батарейки, чтобы сообщить о своих отзывах, вопросах и предложениях
    .bottom__icon 
        +svgColor('tg')