.bottom {
    padding: rem(100) 0;

    &__text {
        display: flex;
        flex-direction: column;
        max-width: rem(1590);
        font-size: rem(64);
        line-height: rem(78);
        font-weight: 900;
        color: var(--color-blue);
        margin-bottom: rem(44);

        &:after {
            content: '';
            width: 100%;
            max-width: rem(803);
            height: rem(4);
            background: var(--color-white);
            margin-top: rem(30);
        }
    }

    &__icon {
        font-size: rem(100);
    }
}