extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Tonkeeper Battery"

block content
    include ../blocks/modules/header/header.pug
    main.main
      include ../blocks/modules/main-top/main-top.pug
      .l-default
        .main-content
          .main-content-left
            include ../blocks/modules/info/info.pug
            include ../blocks/modules/how/how.pug
            include ../blocks/modules/start/start.pug
            include ../blocks/modules/testing/testing.pug
          .main-content-right
            <svg class="battery" width="150" height="244" viewBox="0 0 150 244" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="5" y="16.8422" width="140" height="221.448" rx="25" stroke="#6C6B6B" stroke-width="10"/>
                <path d="M53.181 9.93213C54.9031 6.98213 58.1024 5 61.7646 5H86.199C89.8613 5 93.0606 6.98213 94.7827 9.93213H53.181Z" stroke="#6C6B6B" stroke-width="7.46606"/>
                <path class="charge" d="M96.4075 65.543C97.0831 65.9932 97.6059 66.6934 97.8905 67.5293C98.1751 68.3651 98.2047 69.2872 97.9745 70.1449L85.5426 116.576H108.48C109.155 116.576 109.814 116.803 110.377 117.228C110.941 117.654 111.383 118.26 111.65 118.971C111.918 119.682 111.998 120.468 111.881 121.231C111.764 121.994 111.456 122.701 110.993 123.265L55.7709 190.706C55.2366 191.359 54.5256 191.785 53.7537 191.914C52.9819 192.044 52.1948 191.868 51.5207 191.417C50.8466 190.967 50.3252 190.266 50.0416 189.431C49.7579 188.596 49.7287 187.675 49.9588 186.819L62.3907 140.379H39.4528C38.7787 140.38 38.1193 140.153 37.5559 139.727C36.9926 139.302 36.55 138.696 36.2828 137.985C36.0155 137.273 35.9354 136.488 36.0522 135.725C36.1691 134.961 36.4777 134.254 36.9402 133.691L92.1623 66.2492C92.696 65.597 93.4059 65.1715 94.1767 65.0418C94.9474 64.9122 95.7337 65.086 96.4075 65.5351V65.543ZM47.4393 132.445H67.0639C67.604 132.445 68.1366 132.59 68.6189 132.87C69.1011 133.15 69.5195 133.555 69.8405 134.055C70.1614 134.554 70.376 135.133 70.4668 135.745C70.5576 136.357 70.5222 136.985 70.3634 137.578L60.9204 172.83L100.487 124.511H80.8694C80.3293 124.511 79.7967 124.365 79.3144 124.086C78.8321 123.806 78.4137 123.4 78.0928 122.901C77.7718 122.401 77.5573 121.823 77.4665 121.211C77.3757 120.599 77.4111 119.971 77.5699 119.377L87.0129 84.1251L47.4393 132.445Z" fill="#45AEF5"/>
                <g class="full-4" filter="url(#filter0_d_11_161)">
                  <rect x="23" y="44" width="103" height="37" rx="15" fill="#45AEF5"/>
                </g>
                <g class="full-3" filter="url(#filter1_d_11_161)">
                  <rect x="23" y="89" width="103" height="37" rx="15" fill="#45AEF5"/>
                </g>
                <g class="full-2" filter="url(#filter2_d_11_161)">
                  <rect x="24" y="132" width="103" height="38" rx="15" fill="#45AEF5"/>
                </g>
                <rect class="full-1" x="23" y="175" width="103" height="37" rx="15" fill="#45AEF5"/>
                <defs>
                <filter id="filter0_d_11_161" x="19" y="44" width="111" height="45" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset dy="4"/>
                  <feGaussianBlur stdDeviation="2"/>
                  <feComposite in2="hardAlpha" operator="out"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_161"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_161" result="shape"/>
                </filter>
                <filter id="filter1_d_11_161" x="19" y="89" width="111" height="45" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_161"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_161" result="shape"/>
                </filter>
                <filter id="filter2_d_11_161" x="20" y="132" width="111" height="46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_161"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_161" result="shape"/>
                </filter>
              </defs>
            </svg>
    include ../blocks/modules/footer/footer.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")