extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Tonkeeper Battery"

block content
    include ../blocks/modules/header/header.pug
    main.main
      include ../blocks/modules/main-top/main-top.pug
    include ../blocks/modules/footer/footer.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")