section.main-top
    .blur-item
    .blur-item
    .l-default 
        h1.main-top__title.title--h1.js-main-animation.js-main-animation--top Tonkeeper Battery
        .main-top__wrapper.js-main-animation.js-main-animation--rotate
            .main-top__info.js-main-animation.js-main-animation--top
                .main-top__info-text.js-main-animation.js-main-animation--top Мы рады объявить о запуске Батарейки Тонкипера. Она доступна уже сегодня в открытом бета-тестировании на всех мобильных платформах.
                .main-top__info-downloads
                    a.main-top__info-download.js-main-animation.js-main-animation--top(href="")
                        +webp(['main-top/android', 'png'])
                    a.main-top__info-download.js-main-animation.js-main-animation--top(href="")
                        +webp(['main-top/apple', 'png'])
            .main-top__img.js-main-animation.js-main-animation--right
                +webp(['main-top/1', 'png'])