.main-top {
    padding: rem(80) 0 0;
    margin-bottom: rem(80);

    @media (min-width: 1199px) {
        padding: rem(142) 0 rem(44);
        margin-bottom: rem(270);
    }

    &__title {
        text-align: center;
        margin-bottom: rem(20);

        @media (min-width: 768px) {
            margin-bottom: rem(50);
        }

        @media (min-width: 1600px) {
            margin-bottom: rem(78);
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: rem(500);
        background: linear-gradient(127deg, rgba(0,0,0,0.4990371148459384) 50%, rgba(0,148,255,1) 125%);
        border-radius: rem(30);
        overflow: hidden;
        margin: 0 auto;
        padding: rem(12);

        @media (min-width: 768px) {
            min-height: rem(350);   
            padding: rem(24);
        }

        @media (min-width: 1600px) {
            min-height: rem(500);   
            padding: rem(44);
        }
    }

    &__info {
        order: 9;
        z-index: 1; 
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        max-width: rem(761);

        @media (max-width: 1199px) {
            margin-top: rem(20);
        }

        @media (min-width: 1200px) {
            order: 0;
        }

        &-text {
            max-width: rem(746);
            font-size: rem(18);
            line-height: rem(26);
            margin-bottom: rem(20);

            @media (max-width: 767px) {
                text-align: center;
            }

            @media (min-width: 768px) {
                max-width: rem(380);
            }

            @media (min-width: 1200px) {
                max-width: rem(500);
                font-size: rem(24);
                line-height: rem(34);
                margin-bottom: rem(40);
            }
    
            @media (min-width: 1600px) {
                max-width: rem(746);
                font-size: rem(32);
                line-height: rem(48);
                margin-bottom: rem(100);
            }
        }

        &-downloads {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem(16);

            @media (min-width: 768px) {
                gap: rem(8);
                justify-content: flex-start;
                margin-top: auto;
            }

            @media (min-width: 1600px) {
                gap: rem(16);
            }
        }

        &-download {
            img {
                width: auto;
                height: rem(40);
                transition: transform 0.4s ease;    

                @media (min-width: 768px) {
                    height: rem(54);
                }
        
                @media (min-width: 1600px) {
                    height: rem(74);
                }
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__img {
        position: static;
        order: 0;

        @media (min-width: 768px) {
            order: 9;
            position: absolute;
            top: rem(-80);
            right: rem(-60);
            width: rem(400);
            height: rem(830);
        }

        @media (min-width: 1200px) {
            right: 0;
        }

        @media (min-width: 1600px) {
            top: rem(-130);
            width: rem(600);
            height: rem(1230);
        }

        img {
            object-fit: cover;

            @media (max-width: 767px) {
                max-width: rem(250);
                margin: 0 auto;
            }
        }
    }

    .blur-item {
        &:first-child {
            top: rem(-383);
            right: rem(-497);
        }

        &:nth-child(2) {
            top: rem(147);
            left: rem(-709);
        }
    }

    .js-main-animation {
        opacity: 0;
        transition: all 1s ease;

        &--top {    
            transform: translateY(rem(10));
        
            &.showing {
                transform: translateY(0);
            }
        }

        &--rotate {
            transform: rotateZ(5deg);
        
            &.showing {
                transform: rotateZ(0);
            }
        }   

        &--right {
            transform: translateX(rem(100));
        
            &.showing {
                transform: translateX(0);
            }
        }

        &.showing {
            opacity: 1;
        }
    }
}