section.main-top
    .blur-item
    .blur-item
    .l-default 
        h1.main-top__title.title--h1 Tonkeeper Battery
        .main-top__wrapper
            .main-top__info
                .main-top__info-text Мы рады объявить о запуске Батарейки Тонкипера. Она доступна уже сегодня в открытом бета-тестировании на всех мобильных платформах.
                .main-top__info-downloads
                    .main-top__info-download
                        +webp(['main-top/android', 'png'])
                    .main-top__info-download
                        +webp(['main-top/apple', 'png'])
            .main-top__img
                +webp(['main-top/1', 'png'])