section.how
    h2.how__title.title--h2 Как это работает?
    .how__items
        .how__item
            .how__item-text С помощью батарейки вы можете платить токенами (стейблкоинами, NFT и т.д.) без необходимости покупки тонов в обменниках для оплаты блокчейн-комиссий. Батарейка оплачивает комиссию за вас автоматически.
            .how__item-img 
                +webp(['how/1', 'jpg'])
        .how__item
            .how__item-text Вы можете зарядить батарейку по карте используя встроенные платежи на iOS или с помощью тонов или стейблкоинов. Отправьте несколько долларов в стейблкоинах или тонах на специальный адрес <a href="https://tonviewer.com/battery.ton">battery.ton</a> — батарейка будет заряжена для вашего кошелька.
            .how__item-img 
                +webp(['how/2', 'jpg'])
        .how__item
            .how__item-text Батарейка Тонкипера измеряется в зарядах, каждый заряд покрывает комиссию за простую транзакцию TON перевода. Более сложные транзакции могут потребовать 5, 10 и более зарядов.
            .how__item-img 
                +webp(['how/3', 'jpg'])