footer.footer
    .l-default
        .footer__wrapper
            .footer__logo
                +svgColor('logo')
            .footer__text <span>© 2024 Tonkeeper. All rights reserved.</span> All trademarks are the property of their respective owners.