section.info#info
    .blur-item
    h2.info__title.title--h2.js-animation-show Батарейка Тонкипера сильно облегчает жизнь новым пользователям
    .info__wrapper
        .info__text.js-animation-show Вы  можете поставить кошелек, получить стейблкоин или NFT, и сразу же начать их использовать, без использования тонов для оплаты газа. Вам не нужно регистрироваться в обменниках и проходить проверки документов только для покупки непонятного количества монет для оплаты непонятного газа.
        .info__img.js-animation-show
            +webp(['info/1', 'png'])
        .info__text.js-animation-show С батарейкой вам больше никогда не придется беспокоиться об оплате газа. Пополните свою батарейку банковской картой или стейблкоином и сразу же начните использовать все функции вашего кошелька.