section.info
    h2.info__title.title--h2 Батарейка Тонкипера сильно облегчает жизнь новым пользователям
    .info__wrapper
        .info__text Вы  можете поставить кошелек, получить стейблкоин или NFT, и сразу же начать их использовать, без использования тонов для оплаты газа. Вам не нужно регистрироваться в обменниках и проходить проверки документов только для покупки непонятного количества монет для оплаты непонятного газа.
        .info__img
            +webp(['info/1', 'png'])
        .info__text С батарейкой вам больше никогда не придется беспокоиться об оплате газа. Пополните свою батарейку банковской картой или стейблкоином и сразу же начните использовать все функции вашего кошелька.