*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input,button,textarea{
    -webkit-appearance: none;
}

html, body {
    min-width: 320px;
    overflow-x: clip;
}

body {
    position: relative;
    font-family: $primary_font;
    font-style: normal;
    letter-spacing: normal;
    font-size: 16px;
    line-height: 120%;
    min-width: 320px;
    height: 100%;
    min-height: 100vh;
    color: var(--color-white);
    background: var(--color-bg);
    margin: 0 auto;
    overflow-x: clip;

    &.on-scroll {
        margin-top: 76px;
    }
}

.main {
    position: relative;
    z-index: z("l-default");

    &-content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr rem(150);
        gap: rem(40);
        align-items: end;
        width: 100%;

        &-right {
            position: sticky;
            position: -webkit-sticky;
            right: 0;
            bottom: rem(20);
        }
    }
}

.swiper-pagination {
    position: static;

    &-bullet {
        opacity: 1 !important;
        width: rem(20);
        height: rem(20);
        background: var(--color-gray);

        &-active {
            background: var(--color-blue);
        }
    }
}

.blur-item {
    position: absolute;
    z-index: -1;
    width: rem(1000);
    height: rem(1000);
    border-radius: 100%;    
    background: radial-gradient(circle, rgba(255,29,15,1) 0%, rgba(22,73,255,1) 50%, rgba(61,63,68,1) 100%);
    filter: blur(rem(300));
    opacity: 0.6;
}

.charge {
    animation: blinking 1.5s infinite linear;
}

.full {
    &.show {
        animation: show 0.6s ease-in;
    }
}

.lazy, .swiper-lazy  {
    opacity: 0;
}

.js-animation-show {
    opacity: 0;
    transform: translateY(rem(10));
    transition: all 0.6s ease-in-out;

    &.showing {
        opacity: 1;
        transform: translateY(0);
    }
}

.loading,
.loaded,
[data-was-processed="true"],
[data-ll-status="entered"],
.swiper-lazy-loaded {
    @include tr(all);
    opacity: 1;
}

.hidden {
    display: none !important;
    opacity: 0 !important;
}

.show,
.show_btn {
    display: flex !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

textarea,
a,
button,
input[type="submit"] {
    @include tr(all);
    text-decoration: none;
    color: inherit;
    outline: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:disabled {
    opacity: .5;
    cursor: not-allowed;
}

button {
    background: none;
    border: none;
}

input,
video {
    outline: none;
    border: none;
}

.fancybox-content{
    padding: 0;
}

input, textarea {
    &::placeholder {
        @include tr("all");
    }
    &:focus {
        &::placeholder {
            opacity: 0 !important;
        } 
    }
}

img {
    display: block;
    max-width: 100%;
}

.l {
    &-default {
        position: relative;
        z-index: z("l-default");
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 44px; 
    }
}

input, textarea {
    border: none;
}

.fancybox-content {
    background: none;
    z-index: 99994;
}

.compensate-for-scrollbar {
    margin-right: auto !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blinking {
    0% { opacity: 0.2 }
    50% { opacity: 1 }
    100% { opacity: 0.2 }
}